<% if user_signed_in? %>
  <li class="tab right"><%= link_to(t('layout.navbar.logout'), destroy_user_session_path, :method => :delete, target: "_self") %> </li>       
<% else %>
  <li class="tab right "><%= link_to(t('layout.navbar.signin'), new_user_session_path, target: "_self", class: (current_page?(new_user_session_path)? 'active' : ''))  %> </li>
<% end %>