<% if user_signed_in? %>
  <li class="tab right"><%= link_to(t('layout.navbar.edit'), edit_user_registration_path, target: "_self", class: ('active' if current_page?(edit_user_registration_path))) %></li>
<% else %>
  <li class="tab right"><%= link_to(t('layout.navbar.register'), new_user_registration_path, target: "_self", class: ('active' if current_page?(new_user_registration_path)))  %></li>
<% end %>