<% content_for :breadcrumb do %>
<%= link_to t('devise.registrations.new.sign_up'), new_user_registration_path, class: 'breadcrumb grey-text text-darken-3' %>
<% end %>
<div class="row col s12">
  <%= devise_error_messages! %>
</div>
<div class="row no-margin-bottom">
  <!-- Cambiar el color de este panel a naranja-->
  <div class="col s12 m6 red" style="padding:25px;">
    <h4 class="title-section white-text"><i class="fa fa-user medium"></i> <%= t('devise.registrations.new.sign_up') %></h4><br>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="input-field white-text white-input">
      <%= f.email_field :email, autofocus: true, class: 'validate' %>
      <%= f.label(:email, data: {'error' => "wrong", 'success' => "right"}) %>
    </div>

    <div class="input-field white-text white-input">
      <%= f.password_field :password, autocomplete: "off"%>
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
    </div>

    <div class="input-field white-text white-input">
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
      <%= f.label :password_confirmation %>
    </div>

    <p>
      <%= f.submit(t('devise.registrations.new.sign_up'), class: "btn white red-text text-accent-4") %>

      <span class="right shared-links">
        <%= render "devise/shared/links" %>
      </span>
    </p>

    <% end %>




  </div>
</div>