<% content_for :breadcrumb do %>
<%= link_to t('layout.periods.title'), periods_path, class: 'breadcrumb' %>
<% end %>

<div class="row no-margin-bottom">
    <div class="col s12 m2 grey darken-4" style="min-height:100px;">
        <p>
            <%= link_to t('layout.periods.new'), new_period_path, :class => 'waves-effect waves-light btn btn-block' %>
            <div class="input-field white-text white-input col s12">
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix"><%= t('layout.search') %></label>
            </div>
        </p>
        
    </div>
    <div class="col s12 m10 white" style="padding:25px;">
        <table class="responsive-table centered striped">
            <thead>
                <tr>
                    <th><%= t('layout.periods.year') %></th>
                    <th><%= t('layout.periods.semester') %></th>
                    <th><%= t('layout.periods.start') %></th>
                    <th><%= t('layout.periods.end') %></th>
                </tr>
                <tbody>
                    
                    <% @periods.each do |period| %>
                    <tr>
                        <td><%= period.year %></td>
                        <td><%= period.semester %></td>
                        <td><%= period.start %></td>
                        <td><%= period.end %></td>
                    </tr>
                    <% end %>
                    
                </tbody>
            </thead>
            
        </table>
        <div class="right">
            <%= paginate @periods, :params => {:controller => 'periods', :action => 'index'} %> 
        </div>
        
    </div>
</div>