<% content_for :breadcrumb do %>
<%= link_to t('layout.periods.title'), periods_list_path, class: 'breadcrumb' %>
<% end %>

<div class="row no-margin-bottom">
    <div class="col s12 m2 grey darken-4" style="min-height:100px;">
        <p>
            <div class="input-field white-text white-input col s12">
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix"><%= t('layout.search') %></label>
            </div>
        </p>
        
    </div>
    <div class="col s12 m10 white" style="padding:25px;">
        <table class="responsive-table centered striped">
            <thead>
                <tr>
                    <th><%= t('layout.periods.period') %></th>
                </tr>
                <tbody>
                    
                    <% @periods.each do |period| %>
                    <tr>
                        <td><%= link_to period.year.to_s + ' - ' + period.semester, period_subjects_path(period.id) %></td>
                    </tr>
                    <% end %>
                    
                </tbody>
            </thead>
            
        </table>
        <div class="right">
            <%= paginate @periods, :params => {:controller => 'periods', :action => 'index'} %> 
        </div>
        
    </div>
</div>