<% content_for :breadcrumb do %>
<%= link_to t('layout.periods.title'), periods_path, class: 'breadcrumb' %>
<%= link_to t('layout.periods.new_period'), new_period_path, class: 'breadcrumb' %>
<% end %>

<div class="row no-margin-bottom">
    <div class="col s12 white" style="padding:25px;">
        <%= form_for @period do |n| %>
        <div class="row">
            <div class="input-field col s6">
                <%= n.number_field :year, :required => true %>
                <%= n.label :year, t('layout.periods.year') %>
            </div>
            <div class="input-field col s6">
            <%= n.select :semester, ['Select a semester', ["I", 'I'], ["II", 'II']], {:disabled => 'Select a semester', :selected => 'Select a semester'}, :required => true %>
                <%= n.label :semester, t('layout.periods.semester')%>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <%= n.label :start, t('layout.periods.start') %>
                <%= n.date_field :start, class: 'datepicker', :required => true  %>
            </div>
            <div class="col s6">
                <%= n.label :end, t('layout.periods.end') %>
                <%= n.date_field :end,  class: 'datepicker', :required => true  %>
            </div>
        </div>
        <%= n.submit t('layout.periods.create_period'), :class => 'btn red waves-effect' %>
        <% end %>
    </div>
</div>


<% content_for :scripts do %>
<script>

  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
});

</script>
<% end %>