
<div class="row no-margin-bottom">
  <div class="col s12 no-padding">
    <%= render 'layouts/partials/slider' %>
  </div>
</div>
<% if user_signed_in? %>
<div class="row no-margin-bottom">
  <div class="col s12 m2 grey darken-4 subsection" style="min-height: 100px">
    <h5 class="grey-text"><%= t('layout.navbar.curses') %></h5>
    <%= link_to "Qualifications", member_qualifications_path(current_user.id), :class=>"btn btn-block z-depth-0" %>
  </div>

  <div class="col s12 m10 white">
    <ul class="collapsible" data-collapsible="accordion">
      <% current_user.subjects.group_by(&:period).each do |period, subjects| %>
      <li>
        <div class="collapsible-header"><i class="material-icons">library_books</i><%= period.year %> - <%= period.semester %></div>
        <div class="collapsible-body">
          <p>
            <% subjects.each do |subject| %>
              <a href="<%= subject_path(subject) %>"><%= subject.name %></a>  <br>
            <% end %>
          </p>
        </div> 
      </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<% content_for :scripts do %>
<script>

  $('.slider').slider({full_width: true});
  $('.slider').css('height', '400px');
  $('.indicators').css('z-index', '2');
  $('.indicators').css('bottom', '10px');
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });

</script>
<% end %>


