<% content_for :breadcrumb do %>
<%= link_to "Periods", periods_list_path, class: 'breadcrumb' %>
<%= link_to "Subjects - " + @subject.period.year.to_s + ' - ' + @subject.period.semester, period_subjects_path(@subject.period.id), class: 'breadcrumb' %>
<%= link_to @subject.name, subject_path(@subject), class: 'breadcrumb' %>
<% end %>

<div class="row no-margin-bottom">
    <div class="col s12 m6 grey darken-4 subsection with-image-users">
        <img src="" alt="">
        <div class="header-section-img white-text">
            <h4><%= @subject.name.capitalize %> - <%= @subject.code %></h4>
            <b><%= @subject.period.year %> - <%= @subject.period.semester %></b>
        </div>
    </div>
    <div class="col s12 m3 subsection grey darken-3">
        <i class="fa fa-book large"></i>
        <h5 class="white-text">Material</h5>
        <span class="white-text header-number"><b></b>   </span>
        <div style="position:absolute;left:30px;bottom:30px;">
            <%= link_to "View", subject_path(@subject), :class=>"btn waves-effect waves-light grey light-2 white-text z-depth-0" %>
        </div>
    </div>
    <div class="col s12 m3 subsection grey darken-3">
        <i class="fa fa-users large "></i>
        <h5 class="white-text">Participants</h5>
        <span class="white-text header-number"><b></b>   </span>
        <div style="position:absolute;left:30px;bottom:30px;">
            <%= link_to "View", subject_users_path(@subject), :class=>"btn waves-effect waves-light grey light-2 white-text z-depth-0" %>
        </div>
    </div>
</div>
<div class="row no-margin-bottom">
    <div class="col s12 m2 grey darken-4">
        <p>
            <%= link_to "Add", new_subject_load_path(@subject), :class => 'waves-effect waves-light btn btn-block' %>
        </p>
    </div>
    <div class="col s12 m10 white" style="padding:25px;">

        
        
        
    </div>
</div>
