<% content_for :breadcrumb do %>
<%= link_to t('layout.navbar.news'), news_index_path, class: 'breadcrumb' %>
<% end %>

<div class="row no-margin-bottom">
    <div class="col s12 m6 grey darken-4 subsection with-image-news">
        <img src="" alt="">
        <div class="header-section-img white-text">
            <h4><%= t('layout.navbar.news') %></h4>

        </div>
        <% if can? :create, News %>
        <div style="bottom:0;position:absolute;right:0;margin:10px;">
            <a href="<%= new_news_path %>" class="btn waves-effect waves-red transparent bordered"><%= t('layout.news.new') %></a>
        </div>
        <% end %>
    </div>
    <div class="col s12 m6 slider-small no-padding">
        <%= render 'layouts/partials/slider' %>
    </div>
</div>
<% @news.each do |pnews| %>
<div class="row no-margin-bottom">
    <div class="col s6 m2 grey darken-4 subsection section-medium">
        <h5 class="grey-text"><%= t('layout.news.date') %></h5>
        <div class="center white-text date-section">
            <span class="flow-text year"><%= pnews.created_at.strftime('%Y') %></span><br>
            <span class="center day"><b><%= pnews.created_at.strftime('%d') %></b></span><br>
            <div class="right month">
                <span class="grey darken-4 month-name"><b><%= pnews.created_at.strftime('%B') %></b></span> 
            </div>
        </div>
    </div>
    <div class="col s12 m8 white" style="padding:25px;">
        <h3><%= pnews.title %></h3> 
        <p><%= raw(pnews.body).truncate(300) %></p> 
        <p>Escrita por: <%= pnews.user.email %></p>
        <%= link_to t('layout.news.read_more'), news_path(pnews), :class => 'btn waves-effect' %>
    </div>
</div>
<% end %>
<div class="row no-margin-bottom">
<div class="col s12 m8 offset-m2 white" style="padding:25px;">
        <div class="right">
            <%= paginate @news, :params => {:controller => 'news', :action => 'index', :highlighted => !@all_news} %>
        </div>
    </div>
</div>


<% content_for :scripts do %>
<script>

  $('.slider').slider({full_width: true});
  $('.slider').css('height', '300px');
  $('.slides').css('height', '300px');
  $('.indicators').css('z-index', '2');
  $('.indicators').css('bottom', '10px');
</script>
<% end %>