<% content_for :breadcrumb do %>
<%= link_to "News", news_index_path, class: 'breadcrumb' %>
<%= link_to "New report", new_news_path, class: 'breadcrumb' %>
<% end %>

<div class="row no-margin-bottom">
    <div class="col s12 white" style="padding:25px;">
        <%= form_for @news do |n| %>
        <div class="input-field">
            <%= n.text_field :title %>
            <%= n.label :title %>
        </div>
        <div class="input-field">
            <%= n.text_area :body, rows: 20, class: 'materialize-textarea'  %>
            <%= n.label :body, 'Body' %>
        </div>

        <div class="input-field">
            <%= n.select :color, ['Select a color', ["Red", 'red', 'data-icon' => 'red', 'class' => 'circle'], ["Amber", 'amber', 'data-icon' => 'amber', 'class' => 'circle'], ["Green", 'green', 'data-icon' => 'green', 'class' => 'circle'], ["Blue", 'blue', 'data-icon' => 'blue', 'class' => 'circle']], {:disabled => 'Select a color', :selected => 'Select a color'}, :class => 'icons' %>
            <%= n.label :color%>
        </div>

        <div class="file-field input-field col s12">
            <div class="btn">
                <span>Image</span>
                <%= n.file_field :image  %>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>

        <!-- Switch -->
        <div class="row" style="padding: 0 0.75rem;">
            <div class="col s12 m10">
                <%= n.label :feactured%>
                <p>
                    <div class="switch">
                        <label>
                            No
                            <%= n.check_box :feactured%>
                            <span class="lever"></span>
                            Yes
                        </label>
                    </div> 
                </p>
            </div>
            
        </div>


        <%= n.submit :class => 'btn red waves-effect' %>
        <% end %>
    </div>
</div>


<% content_for :scripts do %>
<script>
    $(function () {
        $('.select-dropdown > li > img').each(function () {
            var color = $(this).attr('src');
            $(this).attr('src', '');
            $(this).addClass(color);
        });

    });


</script>
<% end %>