<% content_for :breadcrumb do %>
<% if can? :manage, @period %>
<%= link_to t('layout.periods.title'), periods_list_path, class: 'breadcrumb' %>
<% end %>
<%= link_to t('layout.subjects.title')+ " - " + @period.year.to_s + ' - ' + @period.semester, period_subjects_path(params[:period_id]), class: 'breadcrumb' %>
<% end %>

<div class="row no-margin-bottom">
    <div class="col s12 m2 grey darken-4" style="min-height:100px;">
        <p> 
            <% if can? :new, Subject %>
            <%= link_to t('layout.subjects.new'), new_period_subject_path(params[:period_id]), :class => 'waves-effect waves-light btn btn-block' %>
            <% end %>
            <div class="input-field white-text white-input col s12">
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix"><%= t('layout.search') %></label>
                <% if user_signed_in? %>
                <%= link_to "Qualifications", member_qualifications_path(current_user.id), :class=>"btn btn-block z-depth-0" %><br>
                <% end %>
            </div>
        </p>
        
    </div>
    <div class="col s12 m10 white" style="padding:25px;">
        <table class="responsive-table centered striped">
            <thead>
                <tr>
                    <th><%= t('layout.subjects.subject') %></th>
                </tr>
                <tbody>
                    <% @subjects.each do |subject| %>
                    <tr>
                        <td><a href="<%= subject_path(subject) %>"><%= subject.name %> - <%= subject.code %> </a></td>
                    </tr>
                    <% end %>
                </tbody>
            </thead>
            
        </table>
        <div class="right">
            <%= paginate @subjects, :params => {:controller => 'subjects', :action => 'index'} %> 
        </div>
        
    </div>
</div>