<% content_for :breadcrumb do %>
<%= link_to "Periods", periods_list_path, class: 'breadcrumb' %>
<%= link_to "Subjects - " + @period.year.to_s + ' - ' + @period.semester, period_subjects_path(params[:period_id]), class: 'breadcrumb' %>
<%= link_to "New subject", new_period_subject_path, class: 'breadcrumb' %>
<% end %>

<div class="row no-margin-bottom">
    <div class="col s12 white" style="padding:25px;">
        <%= form_for [:period, @subject] do |n| %>
        <div class="row">
            <div class="input-field col s6">
                <%= n.text_field :name, :required => true %>
                <%= n.label :name, 'Name' %>
            </div>
            <div class="input-field col s6">
                <%= n.text_field :code, :required => true %>
                <%= n.label :code, 'Code' %>
            </div>
            <div class="row" style="padding: 0 0.75rem;">
                <div class="input-field col s12 m10" >
                    <%= text_field_tag :teacher, params[:teacher], class: 'autocomplete' %>
                    <%= label_tag :teacher, 'Teacher E-mail' %>
                </div>
            </div>

        </div>
        <%= n.submit :class => 'btn red waves-effect' %>
        <% end %>
    </div>
</div>

<% content_for :scripts do %>
<script>

 $(document).ready(function() {
    $.ajax({
        url: '/teachers',
        type: 'GET',
        success: function(teachers) {
            console.log(teachers);
            $('input.autocomplete').autocomplete({
                data: teachers
            });
        },
        error: function(data) {console.log('error: '+data);}
    });


});

</script>
<% end %>
