<% content_for :breadcrumb do %>
<% if can? :manage, @period %>
<%= link_to t('layout.periods.title'), periods_list_path, class: 'breadcrumb' %>
<% end %>
<%= link_to t('layout.subjects.title')+ " - " + @period.year.to_s + ' - ' + @period.semester, period_subjects_path(@period.id), class: 'breadcrumb' %>
<%= link_to @subject.name, subject_path(@subject), class: 'breadcrumb' %>
<% end %>

<div class="row no-margin-bottom">
    <div class="col s12 m6 grey darken-4 subsection with-image-users">
        <img src="" alt="">
        <div class="header-section-img white-text">
            <h4><%= @subject.name.capitalize %> - <%= @subject.code %></h4>
            <b><%= @subject.period.year %> - <%= @subject.period.semester %></b>
        </div>
    </div>
    <div class="col s12 m3 subsection grey darken-3">
        <i class="fa fa-book large"></i>
        <h5 class="white-text">Material</h5>
        <span class="white-text header-number"><b></b>   </span>
        <div style="position:absolute;left:30px;bottom:30px;">
            <%= link_to t('layout.subjects.view'), { :controller => "subjects", :action => 'show'}, :class=>"btn waves-effect waves-light grey light-2 white-text z-depth-0" %>
        </div>
    </div>
    <div class="col s12 m3 subsection grey darken-4 triangle">
        <i class="fa fa-users large "></i>
        <h5 class="white-text"><%= t('layout.subjects.participants') %></h5>
        <span class="white-text header-number"><b></b>   </span>
        <div style="position:absolute;left:30px;bottom:30px;">
            <%= link_to t('layout.subjects.view'), subject_users_path(@subject), :class=>"btn waves-effect waves-light grey light-2 white-text z-depth-0" %>
        </div>
    </div>
</div>
<div class="row no-margin-bottom">
    <% if can? :create, @load %>
    <div class="col s12 m2 grey darken-4">
        <p>
            <a class="waves-effect waves-light btn btn-block <%= 'disabled' if !@enabled %>" href="#addLoad"><%= t('layout.subjects.add') %></a>
        </p>
        <!-- Modal Structure -->
        <div id="addLoad" class="modal modal-fixed-footer">
            <%= form_for [@subject, @load] do |n| %>
            <div class="modal-content">
                <h4><%= t('layout.subjects.add_user') %></h4>
                
                <div class="row">
                    <div class="row" style="padding: 0 0.75rem;">
                        <div class="input-field col s12 m8" >
                            <%= text_field_tag :user_email, nil,  class: 'autocomplete' %>
                            <%= label_tag :user, t('layout.subjects.email') %>
                        </div>
                        <div class="input-field col s4">
                            <%= n.select :role_id, Role.where(name: ['profesor', 'estudiante']).collect {|p| [ p.name, p.id ] }.prepend(['Select a role', '']), {:disabled => ''}%>
                            <%= n.label :role_id, t('layout.subjects.role') %>
                        </div>
                    </div>
                </div>
                
                
            </div>
            <div class="modal-footer">
                <%= n.submit t('layout.subjects.add'), :class => 'modal-action waves-effect waves-green btn-flat' %>
            </div>
            <% end %>
        </div>
    </div>
    <% end %>
    <div class="col s12 m10 white" style="padding:25px;">

        <table>
            <thead>
                <tr>
                    <th><%= t('layout.subjects.email') %></th>
                    <th><%= t('layout.subjects.role') %></th>
                    <th><%= t('layout.subjects.qualification') %></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @loads.each do |l| %>
                
                <tr>

                    <td><%= l.user.email %></td>
                    <td><%= l.role.name %></td>
                    <td><%= l.qualification %></td>
                    <% if l.role.name == 'estudiante' %>
                    <% if can? :update, Load %>
                    <td>

                        <%= form_for(l) do |l| %>
                        <div class="input-field inline col s6">
                            <%= l.text_field :qualification %>
                        </div>
                        <% end %>

                    </td>
                    <% end %>
                    <% end %>
                </div>
            </tr>
            <% end %>
        </tbody>
    </table>
    <div class="right">
        <%= paginate @loads, :params => {:controller => 'subjects', :action => 'participants'} %> 
    </div>

</div>
</div>

<% content_for :scripts do %>
<script>

    $(document).ready(function(){

        $('.modal').modal();
        $.ajax({
            url: '/apiusers',
            type: 'GET',
            success: function(users) {
                console.log(users);
                $('input.autocomplete').autocomplete({
                    data: users
                });
            },
            error: function(data) {console.log('error: '+data);}
        });
    });



</script>
<% end %>