<% content_for :breadcrumb do %>
<% if can? :manage, @period %>
<%= link_to t('layout.periods.title'), periods_list_path, class: 'breadcrumb' %>
<% end %>
<%= link_to t('layout.subjects.title')+ " - " + @period.year.to_s + ' - ' + @period.semester, period_subjects_path(@period.id), class: 'breadcrumb' %>
<%= link_to @subject.name, subject_path(@subject), class: 'breadcrumb' %>
<% end %>

<div class="row no-margin-bottom">
    <div class="col s12 m6 grey darken-4 subsection with-image-users">
        <img src="" alt="">
        <div class="header-section-img white-text">
            <h4><%= @subject.name.capitalize %> - <%= @subject.code %></h4>
            <b><%= @subject.period.year %> - <%= @subject.period.semester %></b>
        </div>
    </div>
    <div class="col s12 m3 subsection grey darken-4 triangle">
        <i class="fa fa-book large"></i>
        <h5 class="white-text">Material</h5>
        <span class="white-text header-number"><b></b>   </span>
        <div style="position:absolute;left:30px;bottom:30px;">
            <%= link_to t('layout.subjects.view'), { :controller => "subjects", :action => 'show'}, :class=>"btn waves-effect waves-light grey light-2 white-text z-depth-0" %>
        </div>
    </div>
    <div class="col s12 m3 subsection grey darken-3">
        <i class="fa fa-users large "></i>
        <h5 class="white-text"><%= t('layout.subjects.participants') %></h5>
        <span class="white-text header-number"><b></b>   </span>
        <div style="position:absolute;left:30px;bottom:30px;">
            <%= link_to t('layout.subjects.view'), subject_users_path(@subject), :class=>"btn waves-effect waves-light grey light-2 white-text z-depth-0" %>
        </div>
    </div>
</div>
<div class="row no-margin-bottom">
    
    <div class="col s12 m2 grey darken-4">
        <h6 class="grey-text"><%= t('layout.subjects.qualification') %>:</h6>
        <h5 class="grey-text"><%= @qualification %></h5>
        <% if can? :create, @material %>
        <p>
            <a class="waves-effect waves-light btn btn-block <%= 'disabled' if !@enabled %>" href="#addMaterial"><%= t('layout.subjects.upload') %></a>
        </p>
        <!-- Modal Structure -->
        <div id="addMaterial" class="modal">
            <%= form_for [@subject, @material], html: { multipart: true } do |m| %>
            <div class="modal-content">
                <h4><%= t('layout.subjects.add_material') %></h4>
                
                <div class="row">
                    <div class="row" style="padding: 0 0.75rem;">
                        <div class="input-field col s12" >
                            <%= m.text_field :name %>
                            <%= m.label :name, t('layout.subjects.name') %>
                        </div>
                        <div class="file-field input-field col s12">
                            <div class="btn">
                                <span><%= t('layout.subjects.file') %></span>
                                <%= m.file_field :attachment  %>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
            <div class="modal-footer">
                <%= m.submit t('layout.subjects.upload'), :class => 'modal-action waves-effect waves-green btn-flat' %>
            </div>
            <% end %>
        </div>
        <% end %>
    </div>
    
    <div class="col s12 m10 white" style="padding:25px;">

        <table>
            <thead>
                <tr>
                    <th><%= t('layout.subjects.date') %></th>
                    <th><%= t('layout.subjects.name') %></th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <% @subject.materials.order('created_at DESC').each do |material| %>
                <tr>
                    <td><%= material.created_at.strftime('%d / %m / %Y') %></td>
                    <td><%= material.name %></td>
                    <td><%= link_to t('layout.subjects.download'), material.attachment_url %></td>
                    <% if can? :destroy, @material and @enabled %>
                    <td><%= button_to t('layout.subjects.delete'),  subject_material_path(@subject, material.id), method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{material.name}?" %></td>
                    <% end %>
                </tr>
                <% end %>
            </tbody>
        </table>
        
    </div>
</div>

<% content_for :scripts do %>
<script>

    $(document).ready(function(){
        $('.modal').modal();
    });

</script>
<% end %>