<% content_for :breadcrumb do %>
<%= link_to t('devise.sessions.new.sign_in'), new_user_session_path, class: 'breadcrumb grey-text text-darken-3' %>
<% end %>

<div class="row no-margin-bottom">
  <div class="col s12 m6 red" style="padding:25px;">
    <h4 class="title-section white-text"><i class="fa fa-sign-in medium"></i> <%= t('devise.sessions.new.sign_in') %></h4><br>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="input-field white-text white-input">
      <%= f.email_field :email, autofocus: true %>
      <%= f.label :email %>
    </div>

    <div class="input-field white-text white-input">
      <%= f.password_field :password, autocomplete: "off" %>
      <%= f.label :password %>
    </div>

    <% if devise_mapping.rememberable? -%>
    <p>
      <span class="col s6">
        <%= f.check_box :remember_me , class: 'white-input filled-in'%>
        <%= f.label :remember_me, class: 'white-label'%>
      </span>

      <span class="col s6 shared-links" style="text-align:right;">
        <%= render "devise/shared/links" %>
      </span>
    </p>
    <% end -%>

    <p>
      <%= f.submit t('devise.sessions.new.sign_in'), class: 'btn white red-text text-accent-4' %>
    </p>

    <% end %>

  </div>
  <div class="col s12 m6" style="padding:20px;">
    <h4 class="title-section"><%= image_tag("logo_small.png", height: '60') %> <%= t('devise.sessions.new.information') %></h4>  
    <p>Informacion sobre las cuentas que no han sido aprobadas aun</p>
    <h5>¿Aun no tienes una cuenta?</h5>
    <p>Texto sobre crear una nueva y esperar a que sea aprobada</p>
    <%= link_to t('devise.registrations.new.sign_up'), new_user_registration_path, class: 'btn waves-effect' %>
  </div>
</div>


