<% content_for :breadcrumb do %>
<%= link_to "Blog", posts_path, class: 'breadcrumb' %>
<% end %>

<div class="row no-margin-bottom">
    <div class="col s12 m6 grey darken-4 subsection with-image-blog">
        <img src="" alt="">
        <div class="header-section-img white-text">
            <h4>Blog</h4>
        </div>
        <% if can? :create, Post %>
        <div style="bottom:0;position:absolute;right:0;margin:10px;">
            <a href="<%= new_post_path %>" class="btn waves-effect waves-red transparent bordered"><%= t('layout.blog.new') %></a>
        </div>
        <% end %>
    </div>
    <div class="col s12 m6 slider-small no-padding">
        <%= render 'layouts/partials/slider' %>
    </div>
</div>
<% @posts.each do |post| %>
<div class="row no-margin-bottom">
    <div class="col s6 m2 grey darken-4 subsection section-medium">
        <h5 class="grey-text"><%= t('layout.news.date') %></h5>
        <div class="center white-text date-section">
            <span class="flow-text year"><%= post.created_at.strftime('%Y') %></span><br>
            <span class="center day"><b><%= post.created_at.strftime('%d') %></b></span><br>
            <div class="right month">
                <span class="grey darken-4 month-name"><b><%= post.created_at.strftime('%B') %></b></span> 
            </div>
        </div>
    </div>
    <div class="col s12 m8 white" style="padding:25px;">
        <h3><%= post.title.capitalize %></h3> 
        <p><%= raw(post.body).truncate(300) %></p> 
        <p>
            <div class="chip">
            <i class="fa fa-user-circle-o"></i> <%= post.user.email %>
            </div>
            <div class="chip">
            <i class="fa fa-comments"></i> 2
            </div>
        </p>
        <%= link_to t('layout.news.read_more'), posts_path(post), :class => 'btn waves-effect' %>
    </div>
</div>
<% end %>
<div class="row no-margin-bottom">
    <div class="col s12 m8 offset-m2 white" style="padding:25px;">
        <div class="right">
            <%= paginate @posts, :params => {:controller => 'post', :action => 'index'} %>
        </div>
    </div>
</div>


<% content_for :scripts do %>
<script>

  $('.slider').slider({full_width: true});
  $('.slider').css('height', '300px');
  $('.slides').css('height', '300px');
  $('.indicators').css('z-index', '2');
  $('.indicators').css('bottom', '10px');
</script>
<% end %>