<% content_for :breadcrumb do %>
<%= link_to "Blog", posts_path, class: 'breadcrumb' %>
<%= link_to "New post", new_post_path, class: 'breadcrumb' %>
<% end %>

<div class="row no-margin-bottom">
    <div class="col s12 white" style="padding:25px;">
        <%= form_for @post do |n| %>
        <div class="input-field">
            <%= n.text_field :title %>
            <%= n.label :title %>
        </div>
        <div class="input-field">
            <%= n.text_area :body, class: 'materialize-textarea'  %>
            <%= n.label :body, 'Body' %>
        </div>


        <%= n.submit :class => 'btn red waves-effect' %>
        <% end %>
    </div>
</div>