<% content_for :breadcrumb do %>
<% if can? :manage, @period %>
<%= link_to "Periods", periods_list_path, class: 'breadcrumb' %>
<% end %>
<%= link_to "Subjects - " + @subject.period.year.to_s + ' - ' + @subject.period.semester, period_subjects_path(@subject.period.id), class: 'breadcrumb' %>
<%= link_to @subject.name, subject_path(@subject), class: 'breadcrumb' %>
<% end %>
