<div class="row no-margin-bottom">
  <div class="col s12">
    <footer class="page-footer">

      <div class="row" style="margin-bottom:0;">
        <div class="col s12 m12 l5 grey darken-4" style="min-height:210px;">
          <div class="container-fluid">
            <h5 class="grey-text">Universidad del Valle</h5>
            <p class="grey-text text-darken-1">Unversity description</p>
            <a target="_blank" data-position="top" data-delay="50" data-tooltip="<%= t('layout.navbar.repo') %>" href="https://bitbucket.org/stipelson/campusvirtual" class="tooltipped"><i class="fa fa-bitbucket" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="col s12 m12 l7 grey darken-3" style="min-height:160px;">
          <div class="container-fluid">
            <h5 class="grey-text">Links</h5>
            <ul>
            <li><a class="grey-text text-darken-1" href="#!"><%= t('layout.navbar.home') %></a></li>
              <li><a class="grey-text text-darken-1" href="#!">Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="col s12 m12 l7" style="padding:0;">
          <div class="footer-copyright grey lighten-4">
            <div class="container-fluid-copyright">
              © 2016 Copyright Text
              <%= link_to "ES", { locale: "es"}, {class: 'right'} %>
              <%= link_to "EN", { locale: "en"}, {class: 'right'} %>
            </div>
          </div>
        </div>
      </div>

    </footer>
  </div>
</div>
