<div class="row no-margin-bottom">
  <div class="col s12 m12 l6" style="padding:0;">
    <!-- Headore principal con el logo -->
    <nav class="nav-extended white" >
      <div class="nav-wrapper">
        <a href="<%= root_path %>" class="brand-logo black-text hide-on-med-and-down" style="margin:10px;"><%= image_tag("logo.png", height: '70') %></a>
        <a href="<%= root_path %>" class="brand-logo black-text hide-on-large-only" style="margin:5px;"><%= image_tag("logo_small.png", height: '55') %></a>
        <ul id="nav-mobile1" class="right hide-on-med-and-down">
          <li>
            <li><a href="<%= root_path %>" class="btn waves-effect waves-red waves-accent-4 red-text text-accent-4 white z-depth-0 bordered "><%= t('layout.navbar.curses') %></a></li>
          </li>
        </ul>
        <ul class="tabs tabs-transparent hide-on-med-and-down">
          <li class="tab right"><a target="_blank" data-position="bottom" data-delay="50" data-tooltip="<%= t('layout.navbar.repo') %>" href="https://bitbucket.org/stipelson/campusvirtual" class="tooltipped"><i class="fa fa-bitbucket" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="col s12 m12 l6" style="padding:0;">
    <!-- Barra de navegacion gris con el menu principal -->
    <nav class="nav-extended grey darken-4">
      <div class="nav-wrapper">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to t('layout.navbar.home'), root_path %></li>
          <li class="<%= 'active' if current_page?(news_index_path) %>"><%= link_to t('layout.navbar.news'), news_index_path %></li>
          <li class="<%= 'active' if current_page?(posts_path) %>"><%= link_to 'Blog', posts_path %></li>
          <!-- Menu desplegable de cursos -->
          <% if user_signed_in?%>
          <% if current_user.role?('super_admin') %>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= t('layout.navbar.manage') %><i class="material-icons right">arrow_drop_down</i></a></li>
          <% end %>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to t('layout.navbar.home'), root_path %></li>
          <li class="<%= 'active' if current_page?(posts_path) %>"><%= link_to 'Blog', posts_path %></li>
        </ul>
        <!-- Dropdown Admin Structure -->
        <ul id="dropdown1" class="dropdown-content">
          <% if can? :read, @users %>
          <li class="<%= 'active' if current_page?(members_path) %>"><%= link_to t('layout.navbar.users'), members_path %></li>
          <% end %>
          <% if can? :read, @periods %>
          <li class="<%= 'active' if current_page?(periods_path) %>"><%= link_to 'Periodos', periods_path %></li>
          <% end %>
          <li class="divider"></li>
          <% if can? :create, Subject %>
          <li class="<%= 'active' if current_page?(periods_list_path) %>"><%= link_to 'Cursos', periods_list_path %></li>
          <% end %>
        </ul>

        <ul class="tabs tabs-transparent grey darken-3">
          <%= render 'devise/menu/login_items' %>
          <%= render 'devise/menu/registration_items' %>
        </ul>
      </div>
    </nav>
  </div>
</div>