<div class="slider">
    <ul class="slides">
        <% @sliderNews.each do |pnews| %>
        <li>
            <img src="<%= pnews.image %>" class="<%= pnews.color %>">
            <div class="caption left-align">
                <h3><%= pnews.title %></h3>
                <h5 class="light grey-text text-lighten-3"><%= raw(pnews.body).truncate(200) %> <b><%= link_to t('layout.news.read_more'), news_path(pnews), :class => 'white-text'%></b> </h5>
            </div>
        </li>
        <% end %>
    </ul>
</div>
