<!DOCTYPE html>
<html>
<head>
  <title>Universidad XYZ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <%= render 'layouts/partials/navbars' %>
    <!-- Miga de pan -->
    <div class="row padding-top-20">
      <div class="col m12">
        <nav class="transparent z-depth-0">
          <div class="nav-wrapper">
            <div class="col s12 orange-text text-acent-3">
              <%= link_to t('layout.navbar.home'), root_path, class: 'breadcrumb' %>
              <%= yield :breadcrumb %>
            </div>
          </div>
        </nav>
      </div>
    </div>

  </div>
  <!-- Contenido de la pagina -->
  <div class="container">
    <%= yield %>
  </div>

  <!-- Footer -->
  <div class="container">
    <%= render 'layouts/partials/footer' %>
  </div>

  
  <!-- Scripts -->
  <script>
    // iniciar tootips
    $(document).ready(function(){
      $('.tooltipped').tooltip({delay: 50});
    });
    //iniciar dorpdown

    $(".dropdown-button").dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: true, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: true, // Displays dropdown below the button
      alignment: 'left' // Displays dropdown with edge aligned to the left of button
    });
        
    // iniciar la barra lateral
    $(".button-collapse").sideNav();

    $(function() {
      // solventar errores de materialize y rails

      $('select').material_select();

      //inicializador de los toast
      <% if notice %>
      Materialize.toast('<%= notice %>', 4000, 'green')
      <% end %>
      <% if alert %>
      Materialize.toast('<%= alert %>', 4000, 'red')
      <% end %>

      //para los elementos seleccionados en la navbar sean active en funcion de su href
      var url = window.location.toString();
      console.log(url);
      if (url.match('#')) {
        url = url.split('#')[0];
        console.log(url);
      }
      var element = $('.tabs .tab a').filter(function() {
        return this.href == url;
      }).addClass('active');

      console.log(element.parent());

      if(!element.parent().is('li.tab')){
        $('.indicator').removeClass('indicator');
        $('.tabs .tab a').removeClass('active');
      }
    });

  </script>

  <%= yield :scripts %>

</body>
</html>
