<% content_for :breadcrumb do %>
<%= link_to "Users", members_path, class: 'breadcrumb' %>
<%= link_to @user.email, member_edit_membership_path(@user.id), class: 'breadcrumb' %>
<% end %>


<div class="row no-margin-bottom">
    <div class="col s12 m6 red subsection">
        <div class="header-section-img white-text">
            <h4><%= t('layout.users.edit_membership') %></h4>
        </div>
    </div>
    <div class="col s6 m3 grey darken-4 subsection">
        <i class="fa fa-envelope large "></i>
        <h5 class="grey-text text-light-1"><b><%= t('layout.users.email') %></b></h5>
        <span class="white-text header-text"><%= @user.email %> </span>
    </div>
    <div class="col s6 m3 grey darken-3 subsection">
        <i class="fa fa-id-badge large "></i>
        <h5 class="grey-text text-light-1"><%= t('layout.users.current_roles') %></h5>
        <% @user.roles.each do |role| %>

        <span class="white-text header-text"><%= role.name %></span><br>

        <% end %>
        
    </div>
</div>
<div class="row no-margin-bottom">
    <div class="col s6 m2 grey darken-4 subsection section-medium">
        <h5 class="grey-text"><%= t('layout.users.created_at') %></h5>
        <div class="center white-text date-section">
            <span class="flow-text year"><%= @user.created_at.strftime('%Y') %></span><br>
            <span class="center day"><b><%= @user.created_at.strftime('%d') %></b></span><br>
            <div class="right month">
                <span class="grey darken-4 month-name"><b><%= @user.created_at.strftime('%B') %></b></span> 
            </div>
        </div>
    </div>
    <div class="col s6 m2 grey darken-3 subsection section-medium">
        <h5 class="grey-text"><%= t('layout.users.updated_at') %></h5>
        <div class="center white-text date-section">
            <span class="flow-text year"><%= @user.updated_at.strftime('%Y') %></span><br>
            <span class="center day"><b><%= @user.updated_at.strftime('%d') %></b></span><br>
            <div class="right month">
                <span class="grey darken-3 month-name"><b><%= @user.updated_at.strftime('%B') %></b></span> 
            </div>
        </div>
    </div>
    <div class="col s12 m8 white" style="padding:25px;">
        <h3><%= @user.email %></h3>
        <%= form_for(@user, url: member_path(@user), html: { method: :put }) do |f| %>
        <!-- Switch -->
        <div class="row" style="padding: 0 0.75rem;">
            <div class="col s12 m10">
                <%= f.label :approved%>
                <p>
                    <div class="switch">
                        <label>
                            <%= t('layout.users.no_approved') %>
                            <%= f.check_box :approved%>
                            <span class="lever"></span>
                            <%= t('layout.users.yes_approved') %>
                        </label>
                    </div> 
                </p>
            </div>
            
        </div>

        <div class="row" style="padding: 0 0.75rem;">
            <div class="input-field col s12 m10" >
                <%= f.select :role_ids, Role.all.collect {|p| [ p.name, p.id ] }.prepend(['Choose roles', '']), {:disabled => ''}, { multiple: true} %>
                <%= f.label :roles%>
            </div>
        </div>

        <p>
            <%= f.submit t('layout.users.update'), class: 'btn red' %>
        </p>

        <% end %>
    </div>
</div>

<div class="row no-margin-bottom">
    <div class="col s12">
        <div class="" style="margin-top:40px;">
            <h4 class="center-align "><%= t('layout.users.roles_information') %></h4>
        </div>
    </div>

    <div class="col s4" style="padding:20px;">
        <div class="center promo promo-example">
            <i class="fa fa-unlock"></i>
            <p class="promo-caption">Super_admin</p>
            <p class="light center"><%= t('layout.users.super_admin') %>.</p>
        </div>
    </div>
    <div class="col s4" style="padding:20px;">
        <div class="center promo promo-example">
            <i class="fa fa-unlock-alt"></i>
            <p class="promo-caption">Profesor</p>
            <p class="light center"><%= t('layout.users.profesor') %>.</p>
        </div>
    </div>
    <div class="col s4" style="padding:20px;">
        <div class="center promo promo-example">
            <i class="fa fa-lock"></i>
            <p class="promo-caption">Estudiante</p>
            <p class="light center"><%= t('layout.users.estudiante') %>.</p>
        </div>
    </div>
</div>


<% content_for :scripts do %>
<script>

</script>
<% end %>






