<% content_for :breadcrumb do %>
<%= link_to t('layout.users.title'), members_path, class: 'breadcrumb grey-text text-darken-3' %>
<% end %>

<div class="row no-margin-bottom">
    <div class="col s12 m6 grey darken-4 subsection with-image-users">
        <img src="" alt="">
        <div class="header-section-img white-text">
            <h4>Users</h4>
        </div>
    </div>
    <div class="col s12 m3 subsection grey <%= @all_user? 'darken-4 triangle' : 'darken-3' %> ">
        <i class="fa fa-users large "></i>
        <h5 class="white-text"><%= t('layout.users.all_users') %></h5>
        <span class="white-text header-number"><b><%= @countAll %></b>   </span>
        <div style="position:absolute;left:30px;bottom:30px;">
            <%= link_to t('layout.users.view_all'), { :controller => "members", :action => 'index' }, :class=>"btn waves-effect waves-light grey light-2 white-text z-depth-0" %>
        </div>
        
    </div>
    <div class="col s12 m3 subsection grey <%= !@all_user? 'darken-4 triangle' : 'darken-3' %>">
        <i class="fa fa-user-plus large"></i>
        <h5 class="white-text"><%= t('layout.users.awaitting_approval') %></h5>
        <span class="white-text header-number"><b><%= @users.where(approved: false).total_count %></b>   </span>
        <div style="position:absolute;left:30px;bottom:30px;">
            <%= link_to t('layout.users.view'), { :controller => "members", :action => 'index', :approved => "false" }, :class=>"btn waves-effect waves-light grey light-2 white-text z-depth-0" %>
        </div>
    </div>
</div>
<div class="row no-margin-bottom">
    <div class="col s12 m2 grey darken-4" style="min-height:100px;">
        <p>
            <div class="input-field white-text white-input col s12">
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix"><%= t('layout.search') %></label>
            </div>
        </p>
        
    </div>
    <div class="col s12 m10 white" style="padding:25px;">

        <table class="responsive-table centered striped">
            <thead>
                <tr>
                    <th><%= t('layout.users.email') %></th>
                    <th><%= t('layout.users.approved') %></th>
                    <th></th>
                </tr>
            </thead>
            <% @users.each do |user| %>
            <tr>
                <td><%= user.email %></td> 
                <td><%= user.approved %></td> 
                <td><%= link_to t('layout.users.edit_membership'), member_edit_membership_path(user.id), :class => 'btn waves-effect red' %></td>
            </tr>
            <% end %>
        </table>
        <div class="right">
            <%= paginate @users, :params => {:controller => 'members', :action => 'index', :approved => @all_user} %> 
        </div>
        
    </div>
</div>