<% content_for :breadcrumb do %>
<%= link_to "Qualifications", member_qualifications_path(current_user.id), class: 'breadcrumb' %>
<% end %>
<div class="row no-margin-bottom">
  <div class="col s12 m9 white">
    <ul class="collapsible" data-collapsible="accordion">
      <% current_user.subjects.group_by(&:period).each do |period, subjects| %>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">library_books</i><%= period.year %> - <%= period.semester %> 
          <span class="right"><b>Promedio: <%= Load.all.where(:subject_id => period.subjects.collect {|s| s.id}, :user_id => current_user.id).average(:qualification).round(2) %></b></span> 
        </div>
        <div class="collapsible-body">
          <p>
            <% subjects.each do |subject| %>
            <a href="<%= subject_path(subject) %>"><%= subject.name %></a> - 
            <%= subject.qualification(current_user.id) %> <br>
            <% end %>
          </p>
        </div> 
      </li>
      <% end %>
    </ul>
  </div>
  <div class="col s12 m3 grey darken-4 subsection section-medium">
    <h5 class="grey-text"> Global </h5>
    <% if current_user.loads.count > 0 %>
    <h3 class="center white-text"><%= current_user.loads.average(:qualification).round(2) %></h3>
    <% end %>
  </div>
  
</div>


<% content_for :scripts do %>
<script>

  $(document).ready(function(){
    $('.collapsible').collapsible();
  });

</script>
<% end %>